@using Portal.Helpers;

<div class="container">
    <ul class="breadcrumb">
        <li><a href="javascript:void(0);">Komite Teknis</a></li>
        <li class="active">Komite Teknis</li>
    </ul>
    <input type="hidden" id="ics_id" value="@ViewBag.ics_id" />

    <div class="row margin-bottom-40">

        <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                @Html.Raw(AuthHelper.buat_menu_seinduk(ViewBag.moduleId))
            </ul>
            <br />
            <br />
        </div>

        <div class="col-md-9 col-sm-9">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-table"></i>Daftar SNI dengan kode ICS @ViewBag.data_ics.ICS_CODE
                    </div>
                    
                    <div class="actions">
                        <a href="../Export/PrintKomtek?Type=pdf" id="" class="btn btn-warning">
                                <i class="fa fa-print"></i>Cetak
                         </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="tab-content">

                        <table class="table table-striped table-hover table-bordered" id="list-data">
                            <thead>
                                <tr>
                                    <th style="width: 10%;text-align:center;font-weight:bold;font-size:14px">No
                                    </th>
                                    <th style="width: 20%;text-align:center;font-weight:bold;font-size:14px">Nomor SNI
                                    </th>
                                    <th style="width: 30%;text-align:center;font-weight:bold;font-size:14px">Judul Indonesia
                                    </th>
                                    <th style="width: 28%;text-align:center;font-weight:bold;font-size:14px">Judul Inggris
                                    </th>
                                    <th style="width: 12%;text-align:center;font-weight:bold;font-size:14px">KT/SKT
                                    </th>
                                    <th style="width: 12%;text-align:center;font-weight:bold;font-size:14px">ICS
                                    </th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->

<!-- END SIDEBAR & CONTENT -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        var id = $("#ics_id").val();
        var table1 = $('#list-data');
        var oTable = table1.dataTable({
            "processing": true,
            "serverSide": true,
            "bServerSide": true,
            "sAjaxSource": "/sni/List_ics_sni?id=" + id,
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Data tidak tersedia",
                "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "infoEmpty": "Menampilkan 0 Data",
                "infoFiltered": "",
                "lengthMenu": "Menampilkan _MENU_ Data",
                "search": "Pencarian:",
                "zeroRecords": "Pencarian Tidak Ditemukan",
                "sProcessing": "Proses Pengambilan Data",
            },
            "fnDrawCallback": function () {
                $('.tooltips').tooltip();
            },
            "columnDefs": [{
                "orderable": false,
                "targets": [4]
            }],
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 50, 100],
                [10, 50, 100]
            ],
            "pageLength": 10,
        });
    });
    $("#docreate").click(function () {

    });
</script>