@{
    ViewBag.Title = "Akses Ditolak";
}

<div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <div class="content-page page-404">
               <div class="number">
                  403
               </div>
               <div class="details">
                  <h3>Oops!  You're Denied.</h3>
                  <p>
                     Maaf anda tidak diizinkan untuk mengakses file/halaman ini<br>
                     <a href="@Url.Content("~/")" class="link">Kembali ke Beranda</a> atau silahkan daftar akun untuk mendapatkan akses file/halaman ini.
                  </p>
               </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>